<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABacteria</title>
</head>
<body>
    <h1>Create New Bacteria</h1>
    <a href="bacteria">Back to List</a>

    <form method="POST" action="/bacteria/Save">
        <div>
            <label>Bacteria Name : </label>
            <input name="bactname" type="text"placeholder="Input the Name of Bacteria" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>

    </form>>
</body>
</html>