{% extends "Layout.html" %}

{% block main %}
<div class="container">
    <h1>Create New Bacteria</h1>
    <a href="/bacteria">Back to List</a>
   
    <form method="POST" action="/bacteria/Save">
        <fieldset>
        <legend>Bacteria Details</legend>
        <div class="row">
            <label class="col-sm-2 col-md-2 col-lg-2">Bacteria Name : </label>
            <input class="col-sm-4 col-md-4 col-lg-4" name="bactname" type="text"placeholder="Input the Name of Bacteria">
        </div>
        <div class="row">
            <input class="btn btn-success col-sm-2 col-lg-2 col-md-2" type="submit" value="Submit">
        </div>
    </fieldset>
    </form>
</div>

{% endblock %}
