{% extends "Layout.html" %}
{% block main %}
<div class="container">
    <h1>Bacteria List</h1>
    <a class="btn btn-primary" href="/bacteria/ABacteria">New Bacteria</a>
    <p>Total Records : {{ results|length }}</p>
    <table id="BacteriaTable" class="display">
        <thead>
            <tr>
                <th>Bacteria Name</th>
            </tr>
        </thead>
        <tbody>
            {% for x in range(0,results|length) %}
            <tr>
                <td>{{ results[x][1] }}</td>
            </tr>
            {% endfor %}           
        </tbody>
    </table>
</div>



{% endblock %}
{% block script%}
<script>
    $('#BacteriaTable').DataTable();
    </script>
{% endblock %}
